<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyThuongPhongBan.Properties.SettingsUpdate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuanLyThuongPhongBan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuanLyThuongPhongBan.Properties.SettingsUpdate>
            <setting name="CurrentVersion" serializeAs="String">
                <value>1.0.1</value>
            </setting>
        </QuanLyThuongPhongBan.Properties.SettingsUpdate>
        <QuanLyThuongPhongBan.Properties.Settings>
            <setting name="ColumnProjectRewardView" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnSMBtRewardView" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
        </QuanLyThuongPhongBan.Properties.Settings>
    </userSettings>
</configuration>